<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mustlane</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body id="bg">
    <div id="wrapper">
<%- include('header') %>
<%- include('navbar') %>
        <div id="content">
            <div id="major">
                <div id="latest_downloads">
                    <% /*
                    latestDownloads.forEach(function(download) { %>
                        <div><%= download %></div>
                    <% }); 
                    */ %>
                </div>
            </div>
            <div id="minor">
                <div class="minor_box" id="motm">
                    <div class="heading">
                        <a href="">Media of the Month</a>
                    </div>
                        <div id="motm_img">
                            <img src="/Media/img/60c217-20120921-gorillaz-plastic-beach.jpg" alt="">
                        </div>
                    </div>
                <div class="minor_box" id="lbp">
                    <div class="heading">
                        <a href="">Latest blog posts</a>
                    </div>
                    <div>
                        <ul>
                            <li>A most unfortunate set of circumstances</li>
                            <li>Server maintenance [completed]</li>
                            <li>Redacted is back as redacted.sh</li>
                            <li>Upload stat adjustment for users affected by the peer scraping / ghostleeching event</li>
                            <li>Just nod if you can hear me</li>
                        </ul>
                    </div>                    
                </div>
                <div class="minor_box" id="lp">
                    <div class="heading">
                        <a href="">Latest Poll</a>
                    </div>
                    <div>
                        <ul>
                            <li><input type="radio" name="poll">
                                <label>Aeson Zevras - Hazlom</label>
                            </li>
                            <li><input type="radio" name="poll">
                                <label>In Death It Ends - Analog Witch</label>
                            </li>
                            <li><input type="radio" name="poll">
                                <label>The Range - Nonfiction</label>
                            </li>
                            <li><input type="radio" name="poll">
                                <label>Burd Brain - The BURNOUT SECTION</label>
                            </li>
                            <li><input type="radio" name="poll">
                                <label>Robbie Robertson - Contact From The Underworld Of Redboy</label>
                            </li>
                            <li><input type="radio" name="poll">
                                <label>Blank - Show the results!</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="minor_box" id="stats">
                    <div class="heading">
                        <a href="">Stats</a>
                    </div>
                    <ul>
                        <li>Maximum users <%= stats.maxUsers %> </li>
                        <li>Enabled users: <%= stats.currentUsers %>
                        <a href="/stats/users">[Details]</a>
                        </li>
                        <li>Users active today: <%= stats.thisDayUsers %> </li>
                        <li>Users active this week: <%= stats.thisWeekUsers %> </li>
                        <li>Users active this month: <%= stats.thisMonthUsers %> </li>
                        <li>Torrents: <%= stats.qbitTorrents %> </li>
                        <li>Movies: <%= stats.movies %> </li>
                        <li>Series: <%= stats.series %> </li>
                        <li>Artists: <%= stats.artists %> </li>
                        <li>Albums: <%= stats.albums %> </li>
                        <li>Authors: <%= stats.authors %> </li>
                        <li>Books: <%= stats.books %> </li>
                        <li>Requests: <%= stats.requests %>(<%= stats.requestsDone / stats.requests %>% fulfilled) </li>
                        <li>Snatched: <%= stats.qbitSnatched  %> </li>
                        <li>Stalled: <%= stats.qbitStalled %> </li>
                        <li>Seeding: <%= stats.qbitSeeding %> </li>
                        <li>AVG. Seeded ratio: <%= stats.qbitRatio %> </li>
                        <li>Space Taken: <% const n = BigInt(stats.spaceTaken) %>
                                         <% const prod = n / 1000000000n %>
                                         <%= prod %> GiB </li>
                    </ul>
                </div>
            </div>
        </div>
<%- include ('footer') %>
    </div>
</body>
</html>